* {
  box-sizing: border-box;
}

.navbar-container {
  display: flex;
  justify-content: flex-end;
  background-color: darkslateblue;
}

.nav-item {
  padding: 1em;
}

a {
  color: lightgray;
}

a:hover {
  text-decoration: none;
  color: lightgreen;
}

.campuses-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.new-campus-link-container {
  display: flex;
  justify-content: center;
}

.new-campus-link {
  padding: 1em;
}

.campus {
  display: flex;
  padding: 1em;
  margin: 1em;
  flex-direction: column;
  justify-content: center;
}

.campus a {
  display: flex;
  justify-content: center;
}

.campus img {
  padding: 1em;
  display: flex;
  justify-content: center;
  transform: translate(0,0);
  transition: all;
}

.campus img:hover {
  padding: 1em;
  transform: translate(-0.25em, 0);
}

body {
  background-color: rgb(9, 9, 9);
  color: white;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 12px;
}
